<div ngDraggable [handle]="handle" [zIndex]="program.zIndex" [position]="program.position" ngResizable
    [rzHandles]="'n,e,s,w,se,sw,ne,nw'" class="window" (rzResizing)="onWindowResizing($event)"
    [ngClass]="{'active': program.isFocused, 'show': program.isDisplayed, 'about': classes.includes('about'),'recyclebin': classes.includes('recyclebin'), 'minesweeper': classes.includes('minesweeper'), 'paint': classes.includes('paint'), 'sizeHard': classes.includes('sizeHard')}"
    (mousedown)="makeWindowActive()">
    <div #handle class="handle" [ngClass]="{'active': program.isFocused }">
        <input class="programIcon" id="handleIcon" type="image" alt="handleIcon" src="{{program.iconPath}}" height="20"
            width="20" />
        <span class="handleTitle">{{ program.title | translate }}</span>
    </div>
    <button class="close" (click)="closeWindow()">x</button>
    <ng-content></ng-content>
</div>