.window {
    height: 580px;
    width: 820px;
    display: none;

    min-height: 350px;
    min-width: 500px;
    border: solid 3px #397EF5;
    border-radius: 8px 8px 0 0;
    overflow: hidden;

    position: absolute;


    &.active {
        border-color: #245DDA;
    }

    &.show {
        display: flex;
    }


    .handle {
        background-color: #397EF5;
        position: absolute;
        top: 0;
        width: 100%;
        height: 26px;
        color: white;

        &.active {
            background-color: #245DDA;
        }


        &:hover {
            cursor: grabbing;
        }

        .programIcon {
            position: absolute;
            top: 3px;
            left: 3px;
        }

        .handleTitle {
            padding-left: 30px;
            line-height: 26px;
        }

    }

    .close {
        position: absolute;
        color: white;
        top: 3px;
        right: 2px;
        line-height: 17px;
        height: 20px;
        width: 20px;
        padding: 0px 0px 3px 0px;
        border: 1px outset white;
        text-align: center;
        background-color: #dd4a1f;
        font-size: large;
        border-radius: 3px;

        &:hover {
            cursor: pointer;
            box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
        }
    }

    .ng-resizable-diagonal {
        border-bottom: none;
    }

    &.about {
        height: 580px;
        min-height: 580px;
        width: 820px;
        min-width: 595px;
    }

    &.recyclebin {
        height: 350px;
        width: 500px;
    }

    &.paint {
        height: 520px;
        width: 820px;
    }

    &.minesweeper {
        height: 555px;
        min-height: 555px;
        width: 444px;
        min-width: 444px;

        &.sizeHard {
            height: 666px;
            min-height: 666px;
            width: 555px;
            min-width: 555px;
        }
    }
}

#aboutWindow {

    .window {
        height: 580px;
        min-height: 580px;
        width: 820px;
        min-width: 500px;
    }
}

#recyclebinWindow {
    height: 350px;
    width: 500px;
}

#minesweeperWindow {
    .window {
        height: 555px;
        min-height: 555px;
        width: 444px;
        min-width: 444px;

        &.sizeHard {
            height: 666px;
            min-height: 666px;
            width: 555px;
            min-width: 555px;
        }
    }
}

@media screen and (max-width:599px) {
    .window {
        display: none;
        height: 90%;
        width: 90%;
        min-width: 0;
        min-height: 0;

    }

}